@tailwind base;
@tailwind components;
@tailwind utilities;
.sideMenu{
  @apply absolute;
  @apply top-0;
  @apply left-0;
  @apply bg-slate-400;
  width: 15rem;
  height: 100%;
}
.lista-posts{
  max-width: 50%;
  min-width: 500px;
  margin: auto;
}
.votos{
  max-width: 60px;
}
.voto{
  display: block;
  margin: auto;
}

.votos>div>svg:hover{
  @apply text-violet-800;
}

.botonCrear{
  @apply absolute;
  bottom: 20px;
  right: 20px;
}